[Unit]
Description=CTController service
Requires=docker.service
After=docker.service

[Service]
Restart=always

ExecStartPre=/usr/bin/start-ctcontroller-container.sh
ExecStart=/usr/bin/docker start -a ctcontroller
ExecStop=/usr/bin/docker rm -f ctcontroller

[Install]
WantedBy=multi-user.target
